---
import Layout from '../layouts/Layout.astro'
import Card from '../components/Card.astro'
import Navbar from '../components/Navbar.astro'
import Title from '../components/Title.astro'
import Footer from '../components/Footer.astro'
---

<Layout title="Leik Games — About us">
    <main class="container mb-5">
        <Title />
        <Navbar />
        <div class="container col-sm-6 col-10">
            <h4 class="text-center poppins-bold">Who is Leik?</h4>
            <p class="text-center">
                We started the company in 2023 when Netron asked us to make them a game. Oliver and
                Camilla has a long story of making games and share a passion for jamming.
            </p>
            <p class="text-center">
                Leik has a mission to make games making the player feel like they felt when they
                grew up playing games and diving into unique worlds
            </p>
            <div class="row pb-md-0 pb-5 gy-sm-5 gy-4">
                <div class="col-sm-6 text-sm-end text-center">
                    <Card
                        titleName="Oliver A. Thunæs"
                        image="/oliverLeikWeb.png"
                        qualiItems={['Game designer', 'Programmer']}
                        >The office nerd and part owner of LEIK. Technical leader and self taught
                        game designer. Likes to dabble in new programming languages.
                    </Card>
                </div>
                <div class="col-sm-6 text-sm-start text-center">
                    <Card
                        titleName="Camilla W. Kvalheim"
                        image="/camillaLeikWeb.png"
                        qualiItems={['Game designer', '2D artist']}
                        >Designer and educator from artsy background and part owner of LEIK. Likes
                        to bring babies into the world and directly into the office for free labor.
                    </Card>
                </div>
                <div class="col-sm-6 text-sm-end text-center">
                    <Card
                        titleName="Anniken"
                        image="/annikenLeikWeb.png"
                        qualiItems={['Art Director', '3D artist']}
                        >Our stylish academic with a magic wand that produces the most beautiful 3D
                        assets in
                    </Card>
                </div>
                <div class="col-sm-6 text-sm-start text-center">
                    <Card
                        titleName="Jaran"
                        image="/jaranLeikWeb.png"
                        qualiItems={['3D artist', 'Technical artist']}
                        >The office realist, a detail oriented 3D artist which can be mistaken to be
                        a 3D producing machiine.
                    </Card>
                </div>
                <div class="col-sm-6 text-sm-end text-center">
                    <Card
                        titleName="Michael"
                        image="/michaelLeikWeb.png"
                        qualiItems={['Junior 3D artist']}
                        >Did you say “please draw me a really great and also disgusting monster in
                        3D”? Mikael got our back.
                    </Card>
                </div>
                <div class="col-sm-6 text-sm-start text-center">
                    <Card
                        titleName="Simen A. Stenrød"
                        image="/simenLeikWeb.png"
                        qualiItems={['Junior 3D artist']}
                        >Has a special gift of making sound delicious to our ears.
                    </Card>
                </div>
            </div>
        </div>
    </main>
    <Footer />
</Layout>
