---
import Layout from '../layouts/Layout.astro'
import Card from '../components/Card.astro'
import Navbar from '../components/Navbar.astro'
import Title from '../components/Title.astro'
import Footer from '../components/Footer.astro'
---

<Layout title="Leik Games — About us">
    <main class="container mb-5">
        <Title />
        <Navbar />
        <div class="container">
            <h2 class="display-2 text-center">About us</h2>
            <div class="row pb-md-0 pb-5 justify-content-center">
                <div class="col-sm-4">
                    <Card
                        titleName="Camilla"
                        image="/camillaLeikWeb.png"
                        qualiItems={['Game designer', '2D artist']}
                    >
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut in risus quis
                        neque laoreet lacinia sit amet vel justo. Phasellus semper justo id
                        convallis pharetra.
                    </Card>
                </div>
                <div class="col-sm-4">
                    <Card
                        titleName="Oliver"
                        image="/oliverLeikWeb.png"
                        qualiItems={['Game designer', 'Programmer']}
                    >
                        Integer tempor tempus nulla, a euismod risus porta vitae. Duis eu mi eget
                        lacus efficitur hendrerit feugiat at est. Proin nec enim malesuada, maximus
                        turpis consequat, cursus lectus.
                    </Card>
                </div>
            </div>
            <div class="row pt-md-0 pt-5 justify-content-center">
                <div class="col-sm-4">
                    <Card
                        titleName="Anniken"
                        image="/annikenLeikWeb.png"
                        qualiItems={['Art Director', '3D artist']}
                    >
                        Anniken (f.1996) fullførte sin 3D og spillutvikling utdannelse fra Noroff
                        Oslo i 2019 og har i tillegg erfaring innen grafisk design, interiørdesign
                        og læreryrket. Hun jobber med 3D modellering, art direction, environment
                        art, grafisk design og noe administrativt. Hun er også kursleder ved 3D kurs
                        og lager tilhørende kursmateriell.
                    </Card>
                </div>
                <div class="col-sm-4">
                    <Card
                        titleName="Jaran"
                        image="/jaranLeikWeb.png"
                        qualiItems={['3D artist', 'Technical artist']}
                    >
                        Proin sit amet ipsum non risus tristique consequat. Curabitur tristique eros
                        purus, ac hendrerit metus porttitor eu. Nunc nec dui nec enim tempus auctor.
                    </Card>
                </div>
                <div class="col-sm-4">
                    <Card
                        titleName="Michael"
                        image="/michaelLeikWeb.png"
                        qualiItems={['Junior 3D artist']}
                    >
                        Proin tristique quis quam a vehicula. Etiam sodales urna scelerisque,
                        bibendum nisi vitae, tincidunt nisl. Sed egestas fermentum vehicula.
                    </Card>
                </div>
            </div>
        </div>
    </main>
    <Footer />
</Layout>
