---
import Layout from '../layouts/Layout.astro'
import Navbar from '../components/Navbar.astro'
import Title from '../components/Title.astro'
import Footer from '../components/Footer.astro'
---

<Layout title="Leik Games — Contact">
    <main class="container mb-5">
        <Title />
        <Navbar />
        <div class="container col-sm-10">
            <div class="row justify-content-evenly gy-4">
                <div class="col-sm-6">
                    <h2 class="display-2 text-center">Get in touch!</h2>
                </div>
                <div class="col-sm-6">
                    <form
                        action="https://api.web3forms.com/submit"
                        method="POST"
                        id="form"
                        data-astro-reload
                    >
                        <input
                            type="hidden"
                            name="access_key"
                            value="46f233e3-daa9-412f-bba2-a2caa8a5990f"
                        />

                        <input type="checkbox" class="d-none" name="botcheck" />

                        <div class="mb-3">
                            <label for="inputName" class="form-label">Your name</label>
                            <input
                                type="text"
                                class="form-control"
                                id="inputName"
                                aria-describedby="nameHelp"
                                name="name"
                                placeholder="What do you like to be called?"
                                required
                            />
                        </div>
                        <div class="mb-3">
                            <label for="inputEmail" class="form-label">Your email address</label>
                            <input
                                type="email"
                                class="form-control"
                                id="inputEmail"
                                aria-describedby="emailHelp"
                                name="email"
                                placeholder="How do we get in touch back?"
                                required
                            />
                        </div>
                        <div class="mb-3">
                            <textarea
                                name="message"
                                required
                                placeholder="Your Message"
                                class="form-control"
                                rows="3"></textarea>

                            <div class="invalid-feedback">
                                Please enter a message in the textarea.
                            </div>
                        </div>
                        <button id="submitButton" type="submit" class="btn btn-primary">
                            <span
                                id="buttonSpinner"
                                class="spinner-border spinner-border-sm d-none"
                                role="status"
                                aria-hidden="true"></span>
                            Submit</button
                        >

                        <div id="result" class="alert mt-3" role="alert"></div>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <Footer />
</Layout>

<script is:inline>
    document.addEventListener(
        'astro:page-load',
        () => {
            const form = document.getElementById('form')
            const result = document.getElementById('result')
            const submitButton = document.getElementById('submitButton')
            const buttonSpinner = document.getElementById('buttonSpinner')

            form.addEventListener('submit', function (e) {
                e.preventDefault()
                form.classList.add('was-validated')
                if (!form.checkValidity()) {
                    form.querySelectorAll(':invalid')[0].focus()
                    return
                }
                const formData = new FormData(form)
                const object = Object.fromEntries(formData)
                const json = JSON.stringify(object)

                buttonSpinner.classList.remove('d-none')
                submitButton.disabled = true

                fetch('https://api.web3forms.com/submit', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        Accept: 'application/json',
                    },
                    body: json,
                })
                    .then(async (response) => {
                        let json = await response.json()
                        submitButton.disabled = false
                        buttonSpinner.classList.add('d-none')
                        if (response.status == 200) {
                            result.classList.add('alert-success')
                            result.innerHTML = json.message
                        } else {
                            console.log(response)
                            result.classList.add('alert-danger')
                            result.innerHTML = json.message
                        }
                    })
                    .catch((error) => {
                        console.log(error)
                        result.innerHTML = 'Something went wrong!'
                    })
                    .then(function () {
                        form.reset()
                        form.classList.remove('was-validated')
                        setTimeout(() => {
                            result.style.display = 'none'
                        }, 5000)
                    })
            })
        },
        { once: true }
    )
</script>
