---
import Layout from '../layouts/Layout.astro'
import Card from '../components/Card.astro'
import Navbar from '../components/Navbar.astro'
import Title from '../components/Title.astro'
---

<Layout title="Leik Games">
    <div class="container">
        <main class="vh-100">
            <Title />
            <Navbar />
            <hr />
            <div class="container text-center my-4">
                <img src="/dicetris.png" class="img-fluid" />
                <p class="lead pt-4">About dicetris</p>
                <p><a href="https://www.dicetrisgame.com/">Try it here!</a></p>
            </div>
        </main>
    </div>
</Layout>
