---
import Layout from '../layouts/Layout.astro'
import { Icon } from 'astro-icon/components'
import Title from '../components/Title.astro'
import Footer from '../components/Footer.astro'
---

<Layout title="Leik Games">
    <main class="container min-vh-100">
        <Title />
        <div
            class="container text-center d-flex my-5 justify-content-between flex-column poppins-bold"
        >
            <a class="text-reset mx-auto icon-link icon-link-hover hover-up fs-3 my-5" href="/about"
                >About us</a
            >
            <a class="text-reset mx-auto icon-link icon-link-hover hover-up fs-3 my-5" href="/games"
                >Games</a
            >
            <a
                class="text-reset mx-auto icon-link icon-link-hover hover-up fs-3 my-5"
                href="/contact">Contact</a
            >
        </div>
    </main>
    <Footer />
</Layout>
