---
import Layout from '../layouts/Layout.astro'
import Navbar from '../components/Navbar.astro'
import Card from '../components/Card.astro'
import Social from '../components/Social.astro'
---

<Layout title="Leik Games">
    <div class="container">
        <header class="container pt-5">
            <h1 class="pt-5 pb-5 text-center display-1">LEIK GAMES</h1>
            <Navbar />
        </header>
        <main class="text-center">
            <div data-bs-spy="scroll" data-bs-target="#my-navbar" data-bs-offset="0" tabindex="0">
                <div id="home" class="hidden"></div>
                <div id="about" class="container my-5">
                    <h2 class="display-3">About</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vel maximus
                        nisl, non dignissim ipsum. Donec ut magna non enim finibus facilisis sit
                        amet ut erat. Vivamus sit amet urna ultricies, viverra metus ut, eleifend
                        eros. Morbi volutpat faucibus felis sed euismod. Nunc id mauris vel metus
                        dignissim tristique vitae quis enim. Nunc velit nisl, fringilla auctor
                        posuere vel, fermentum at justo. Vivamus diam metus, tempus id blandit a,
                        faucibus et nisi. Duis blandit congue sapien, sit amet elementum dolor
                        tristique in. Donec est orci, dignissim at ultricies ac, vestibulum sagittis
                        lorem. In id tortor quis massa iaculis finibus ut eu arcu. Aliquam aliquam
                        finibus vehicula. Mauris viverra, sem tempus accumsan dictum, libero ipsum
                        fermentum mauris, in consectetur nulla ligula vel sem. Mauris sed ipsum
                        consectetur, commodo mauris ut, venenatis eros. Suspendisse vel dolor id
                        elit cursus iaculis ac ac turpis. Vestibulum luctus fringilla orci, vitae
                        dignissim tortor tempus et. Mauris pretium risus ac sagittis suscipit. Sed
                        mauris lacus, posuere quis eros id, tincidunt commodo eros. Etiam suscipit
                        mi ligula, non faucibus lectus gravida sed. Vivamus eget tortor eu ligula
                        cursus pharetra. Praesent tincidunt nisi dui, a maximus velit vulputate a.
                        Ut luctus accumsan sem, vitae dapibus massa pretium sed. In ultrices mi nec
                        iaculis semper.
                    </p>
                </div>
                <div id="games" class="container my-5">
                    <h2 class="display-3">Games</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vel maximus
                        nisl, non dignissim ipsum. Donec ut magna non enim finibus facilisis sit
                        amet ut erat. Vivamus sit amet urna ultricies, viverra metus ut, eleifend
                        eros. Morbi volutpat faucibus felis sed euismod. Nunc id mauris vel metus
                        dignissim tristique vitae quis enim. Nunc velit nisl, fringilla auctor
                        posuere vel, fermentum at justo. Vivamus diam metus, tempus id blandit a,
                        faucibus et nisi. Duis blandit congue sapien, sit amet elementum dolor
                        tristique in. Donec est orci, dignissim at ultricies ac, vestibulum sagittis
                        lorem. In id tortor quis massa iaculis finibus ut eu arcu. Aliquam aliquam
                        finibus vehicula. Mauris viverra, sem tempus accumsan dictum, libero ipsum
                        fermentum mauris, in consectetur nulla ligula vel sem. Mauris sed ipsum
                        consectetur, commodo mauris ut, venenatis eros. Suspendisse vel dolor id
                        elit cursus iaculis ac ac turpis. Vestibulum luctus fringilla orci, vitae
                        dignissim tortor tempus et. Mauris pretium risus ac sagittis suscipit. Sed
                        mauris lacus, posuere quis eros id, tincidunt commodo eros. Etiam suscipit
                        mi ligula, non faucibus lectus gravida sed. Vivamus eget tortor eu ligula
                        cursus pharetra. Praesent tincidunt nisi dui, a maximus velit vulputate a.
                        Ut luctus accumsan sem, vitae dapibus massa pretium sed. In ultrices mi nec
                        iaculis semper.
                    </p>
                </div>
                <div id="contact" class="container my-5">
                    <h2 class="display-3">Contact</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vel maximus
                        nisl, non dignissim ipsum. Donec ut magna non enim finibus facilisis sit
                        amet ut erat. Vivamus sit amet urna ultricies, viverra metus ut, eleifend
                        eros. Morbi volutpat faucibus felis sed euismod. Nunc id mauris vel metus
                        dignissim tristique vitae quis enim. Nunc velit nisl, fringilla auctor
                        posuere vel, fermentum at justo. Vivamus diam metus, tempus id blandit a,
                        faucibus et nisi. Duis blandit congue sapien, sit amet elementum dolor
                        tristique in. Donec est orci, dignissim at ultricies ac, vestibulum sagittis
                        lorem. In id tortor quis massa iaculis finibus ut eu arcu. Aliquam aliquam
                        finibus vehicula. Mauris viverra, sem tempus accumsan dictum, libero ipsum
                        fermentum mauris, in consectetur nulla ligula vel sem. Mauris sed ipsum
                        consectetur, commodo mauris ut, venenatis eros. Suspendisse vel dolor id
                        elit cursus iaculis ac ac turpis. Vestibulum luctus fringilla orci, vitae
                        dignissim tortor tempus et. Mauris pretium risus ac sagittis suscipit. Sed
                        mauris lacus, posuere quis eros id, tincidunt commodo eros. Etiam suscipit
                        mi ligula, non faucibus lectus gravida sed. Vivamus eget tortor eu ligula
                        cursus pharetra. Praesent tincidunt nisi dui, a maximus velit vulputate a.
                        Ut luctus accumsan sem, vitae dapibus massa pretium sed. In ultrices mi nec
                        iaculis semper.
                    </p>
                </div>
            </div>
        </main>
    </div>

    <style>
        main {
            margin: auto;
            padding: 1rem;
            width: 800px;
            max-width: calc(100% - 2rem);
            color: black;
            font-size: 12pt;
            line-height: 1.4;
        }
    </style>
</Layout>
