---
import Layout from '../layouts/Layout.astro'
import { Icon } from 'astro-icon/components'
import Title from '../components/Title.astro'
---

<Layout title="Leik Games">
    <main class="container">
        <Title addStyle="pb-5" big />
        <div
            class="container text-center w-lg-25 w-50 py-5 h-50 d-flex justify-content-between flex-column"
        >
            <a class="text-reset mx-auto icon-link icon-link-hover hover-up fs-3 my-5" href="/blog"
                ><Icon name="mdi:radio-tower" class="bi" aria-hidden="true" />Blog</a
            >
            <a class="text-reset mx-auto icon-link icon-link-hover hover-up fs-3 my-5" href="/about"
                ><Icon name="mdi:people" class="bi" aria-hidden="true" />About us</a
            >
            <a class="text-reset mx-auto icon-link icon-link-hover hover-up fs-3 my-5" href="/games"
                ><Icon name="mdi:nintendo-game-boy" class="bi" aria-hidden="true" />Games</a
            >
            <a
                class="text-reset mx-auto icon-link icon-link-hover hover-up fs-3 my-5"
                href="/contact"
                ><Icon name="mdi:mailbox-up" class="bi" aria-hidden="true" />Contact</a
            >
        </div>
    </main>
</Layout>
