---
interface Props {
    titleName: string
    qualiItems: Array<string>
    image: string
}

const { titleName, qualiItems, image } = Astro.props
---

<div class="text-center">
    <img class="img-fluid w-75" src={image} />
    <div class="text-left">
        <h2 class="mb-0 h5">{titleName}</h2>
        <p>
            {
                qualiItems.map(function (item, idx) {
                    return (idx ? ', ' : '') + item
                })
            }
        </p>
        <slot />
    </div>
</div>
