---
interface Props {
    titleName: string
    qualiItems: Array<string>
    image: string
}

const { titleName, qualiItems, image } = Astro.props
---

<div class="text-center">
    <img class="mt-2 img-fluid" src={image} />
    <h2 class="mb-2 display-6">{titleName}</h2>
    <ul class="list-unstyled">
        {qualiItems.map((item) => <li>{item}</li>)}
    </ul>
</div>
