---
interface Props {}

const {} = Astro.props
---

<div class="container-fluid mx-0 py-5 bg-black text-light">
    <div class="row justify-content-center">
        <div class="col-10">
            <h3 class="display-6">Leik Games</h3>
            <ul class="list-unstyled">
                <li>Nygaardsgata 36</li>
                <li>1606 Fredrikstad</li>
            </ul>
            <ul class="list-unstyled">
                <li>Org nr. 932 177 706</li>
                <li><a href="mailto:hello@leik.games" class="text-light">hello@leik.games</a></li>
            </ul>
        </div>
    </div>
</div>

<style></style>
