---
interface Props {
    slug: string
}

const { slug } = Astro.props
const { pathname } = Astro.url

const isActive = pathname.slice(1).replace('/', '') === slug
---

<div
    transition:name={isActive ? 'page-underline' : slug}
    class={(isActive ? 'bg-light shadow px-3' : 'px-2') + ' rounded-pill'}
>
    <a
        class={(isActive ? 'active' : '') + ' nav-link poppins-bold'}
        href={'/' + slug}
        transition:name={slug + '-link'}><slot /></a
    >
</div>

<style></style>
