---
interface Props {}

const {} = Astro.props
---

<nav id="my-navbar" class="navbar navbar-expand">
    <div class="container text-center">
        <ul class="navbar-nav mx-auto mb-2 w-50 justify-content-between">
            <li class="nav-item">
                <a class="nav-link" href="/games" transition:name="games-link">Games</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about" transition:name="about-link">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact" transition:name="contact-link">Contact</a>
            </li>
        </ul>
    </div>
</nav>

<style></style>
