---
import { Image } from 'astro:assets'

interface Props {
    addStyle?: string
}

const { addStyle = '' } = Astro.props
---

<div class={addStyle + ' pt-5 container col-5 col-sm-2'}>
    <a href="/" transition:name="site_title"><img src="/logo.svg" class="mx-auto d-block" /></a>
    <!-- <a class="text-decoration-none text-reset" href="/" transition:name="page_title" -->
    <!--     >LEIK GAMES</a -->
    <!-- > -->
</div>

<style></style>
