---
import '@fontsource/farsan'
import '@fontsource-variable/josefin-sans'

import Footer from '../components/Footer.astro'

import '../styles/custom.scss'

import { ClientRouter } from 'astro:transitions'

interface Props {
    title: string
    description?: string
    image?: string
}

const { title, description = 'Leik Games are making games in Norway', image } = Astro.props
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content={description} />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <meta property="og:image" content={image} />
        <!-- Google Tag Manager -->
        <script is:inline>
            ;(function (w, d, s, l, i) {
                w[l] = w[l] || []
                w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' })
                var f = d.getElementsByTagName(s)[0],
                    j = d.createElement(s),
                    dl = l != 'dataLayer' ? '&l=' + l : ''
                j.async = true
                j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl
                f.parentNode.insertBefore(j, f)
            })(window, document, 'script', 'dataLayer', 'GTM-T39WSWW6')
        </script>
        <!-- End Google Tag Manager -->
        <title>{title}</title>
        <ClientRouter />
    </head>
    <body class="min-h-screen">
        <!-- Google Tag Manager (noscript) -->
        <noscript
            ><iframe
                src="https://www.googletagmanager.com/ns.html?id=GTM-T39WSWW6"
                height="0"
                width="0"
                style="display:none;visibility:hidden"></iframe></noscript
        >
        <!-- End Google Tag Manager (noscript) -->
        <div id="bg-div"></div>
        <slot />
        <script>
            // Import everything
            import 'bootstrap/dist/js/bootstrap'
        </script>
        <style is:global>
            @keyframes bump {
                0% {
                    opacity: 0;
                    transform: scale(1);
                }
                50% {
                    opacity: 0.5;
                    transform: scale(1.1);
                }
                100% {
                    opacity: 1;
                    transform: scale(1);
                }
            }
        </style>
    </body>
</html>
